/*
 * Importacao de modelos de fontes
 *
 * */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*
 * Definicoes de cores primarias, secundarias
 * e demais cores para a paleta.
 *
 * Foi usado o metodo hsl com hue para definir
 * padroes para visualizacao com mais fluidez
 *
 * */

:root {

  /*
   * Variaiveis de cores
   * */
  --matiz: 315;
  --matizAdicional: calc(var(--matiz) + 180);
  --matizAnalogaDireita: calc(var(--matiz) + 17);
  --matizAnalogaEsquerda: calc(var(--matiz) - 70);
  
  --corPrimaria: hsl(var(--matiz) 25% 95%);
  --corPrimariaEscuro500: hsl(var(--matiz) 20% 85%);
  --corPrimariaEscuro600: hsl(var(--matiz) 20% 75%);
  --corSecundaria: hsl(var(--matizAdicional) 5% 25%);
  --corSecundariaIluminado500: hsl(var(--matizAdicional) 5% 30%);
  --corSecundariaIluminado900: hsl(var(--matizAdicional) 5% 95%);
  --corSecundariaEscuro500: hsl(var(--matizAdicional) 5% 20%);
  --realceV1: hsl(var(--matizAnalogaDireita) 48% 24%);
  --realceV1Claro900: hsl(var(--matizAnalogaDireita) 40% 95%);
  --realceV2: hsl(var(--matizAnalogaEsquerda) 48% 24%);
  --realceV2Claro900: hsl(var(--matizAnalogaEsquerda) 40% 90%);

  /*
   * definicoes de cores padrao
   * */
  --corTexto: var(--corPrimaria);
  --corFundo: hsl(var(--matiz) 43% 95%);
  --sombra: rgba(0, 0, 0, 0.4);

  /*
   * Variaveis para menu responsivo
   * */
  --header-interface-height: 110px;
  --header-flex-height: 70px;
  --header-height-diferenca: calc(
    var(--header-interface-height) -
    var(--header-flex-height)
  );
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--corFundo);
  padding: 40px;
  margin: 0;
}

.areaSection {
  display: flex;
  line-height: 45px;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: var(--realceV2);
  font-size: 25px;
  border-radius: 30px;

  h2 {
    color: var(--corTexto);
  }
  
  p {
    text-align: center;
    color: var(--corTexto);
    max-height: 500px;
    line-height: 45px;
    padding: 0 30px;
    justify-content: center;
    text-indent: 40px;
  }
}

/*
 * Cabecalho (header)
 * */

header {
  padding: 30px 4%;
/* Definicoes de subgrupoes dentro da tag header*/

 .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
  }

  .flex {
    display: flex;
  }

 a {
  color: var(--corTexto);
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  transition: .2s;
  border-radius: 40px;
  }

 a:hover {
  color: var(--corPrimariaEscuro500);
  transform: scale(1.20);
 }

 img {
   width: 70%;
 }

/*
 * Classes do menu de navegacao
 * */
 nav {
   ul {
     list-style-type: none;
     padding-left: 10rem;
     padding-top: 6rem;

     li {
       display: inline-block;
       padding-left: 2rem;
       padding-right: 2rem;
       padding-top: 1rem;
       padding-bottom: 1rem;
       font-size: 5%;
       font-weight: 300px;
       border-radius: 20px;
       margin: 1rem;
       background-color: var(--realceV2);
       border: 0;
       cursor: pointer;
     }
   }
 }
}

.public-sans {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100px;
  font-style: normal;
}

/*
 * Estilo do Topo do Site
 * */

.banner {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  img {
    display: block;
    margin: 0 auto;
  }
}

/*
 * Cadastro e login
 * */

.pageForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 100%;
  background-color: var(--realceV2);
  border-radius: 30px;
  img {
    width: 420px;
  }
/*
 * Estilos de formularios - as caixas
 * */

  form {
  display: flex;
  flex-direction: column;
  background-color: var(--realceV1Claro900);
  border-radius: 7px;
  padding: 40px;
  box-shadow: 10px 10px 40px var(--sombra);
  gap: 5px;
    h1 {
       padding: 0;
       margin: 0;
       font-weight: 500;
       font-size: 2.3em;
       color: var(--corSecundaria);
    }
    p {
       display: inline-block;
       font-size: 14px;
       color: var(--corSecundaria);
       margin-bottom: 25px;
    }
    input {
       padding: 15px;
       font-size: 14px;
       border: 1px solid var(--corPrimariaEscuro500);
       margin-bottom: 20px;
       margin-top: 5px;
       border-radius: 4px;
       transition: all linear 160ms;
       outline: none;
    }
    input:focus {
      border: 1px solid var(--corPrimariaEscuro600);
    }

    label {
      font-size: 14px;
      font-weight: 600;
    }
    a {
      display: inline-block;
      margin-bottom: 20px;
      font-size: 13px;
      color: var(--corSecundaria);
      transition: all linear 160ms;
    }
    a:hover {
      color: var(--corSecundariaEscuro500);
    }
    .btn {
      background-color: var(--realceV2);
      color: var(--realceV2Claro900);
      font-size: 14px;
      font-weight: 600;
      border: none !important;
      transition: all linear 160ms;
      cursor: pointer;
      margin: 0 !important;
    }
    .btn:hover {
      transform: scale(1.05);
      background-color: var(--realceV1);
    }
  }
}

/*
 * Estilo do footer do Site
 * */

footer {
  color: var(--corSecundaria);
}
