* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #000000;
  height: 100vh;
  padding: 40px;
}

.interface {
  max-width: 1280px;
  margin: 1 auto;
}

.flex {
  display: flex;
}

/*Cabeçalho*/
header {
  padding: 30px 4%;
}

header>.interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  transition: .2s;
  border-radius: 40px;

}


header a:hover {
  color: #ffffff;
  transform: scale(1.20);

}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  padding: 15px;
  font-size: 5%;
  font-weight: 300px;
  border-radius: 20px;
}

#title {
  flex-direction: columiamgesn;
  line-height: 10px;
}

li {
  display: inline-block;
  margin: 40px;
  background-color: #19094F;
  border: 0;
  cursor: pointer;
}

#curso {
  display: flex;
  line-height: 45px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px;
  background-color: #19094F;
  color: #48FF13;
  font-size: 25px;
  border-radius: 30px;
}

#sobre {
  display: flex;
  line-height: 45px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px;
  background-color: #19094F;
  color: #48FF13;
  font-size: 25px;
  border-radius: 30px;
}

p {
  text-align: center;
  max-height: 500px;
  line-height: 45px;
  padding: 0 30px;
  justify-content: center;
  text-indent: 40px;
}

.public-sans {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100px;
  font-style: normal;
}

/*Estilo do Topo do Site*/

.banner {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.banner img {
  display: block;
  margin: 0 auto;
}

/*Estilo do footer do Site*/

footer{
  color: #ffffff;
}