body {
    background-color: rgb(71, 33, 173);
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: auto;
    margin-right: auto;
    color: blanchedalmond;
}

div {
    width: 300px;
    border: 15px solid #fff;
    padding: 50px;
    margin: 20px;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
  }